header {
    font-family: Arial, sans-serif;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

h1,
h2 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
    font-size: 180%;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
}

h4 {
    text-align: center;
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    margin: 4px;

}

nav a:hover {
    text-decoration: underline;
}

#about {
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    padding-bottom: 20px;
}